@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/background.png');
    background-color: rgb(255, 122, 122);
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 4%;
}

.container div{
    width: 100%;
}

.content-one h1{
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 4rem;
    margin-bottom: 20px;
    color: white;
}

.container div p{
    font-size: 17px;
    font-weight: 400;
    line-height: 2rem;
    word-spacing: 0.1rem;
    color: white;
}

.content-one p, span, form p{
    color: rgb(219, 219, 215) !important;
}

.content-one, .content-two{
    padding: 0.8rem;
}

.content-one{
    margin-top: 17%;
}

.content-text p{
    width: 100%;
    padding: 1rem;
    background-color: hsl(248, 32%, 49%);
    text-align: center;
    margin-bottom: 12px;
    color: white;
    box-shadow: 0 2px 5px 4px;
}

form{
    width: 100%;
    padding: 1.4rem;
    border: none;
    background-color: white;
}


input{
    width: 100%;
    padding: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* input:focus{
    box-shadow: 0 0 2px 4px rgb(81, 189, 231);
    border: 1px solid #ced4da;
} */


input::placeholder{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

#form p{
    font-size: 12px !important;
    text-align: center;
}

button{
    width: 100% !important;
    padding: 1.2rem 0;
    font-size: 16px;
    text-transform: uppercase;
    background-color: hsl(154, 59%, 51%);
    border: none;
    color: white;
    border-radius: 5px;

}

a{
    text-decoration: none;
    color: red;
}

.content-text p, form{
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form-control{    
    margin-bottom: 1rem !important;
    text-align: end;
    position: relative;
}

.form-control input:focus {
    outline: 0;
    border-color: rgb(128, 188, 247);
    box-shadow: 0px 0px 1px 4px rgb(188, 219, 250);
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}


/* .error{
    font-size: 12px;
    color: red;
    position: relative;
    top: -10px;
    left: 40px;
}  */

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 1.3rem;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}


@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        width: 100%;
        padding: 0 1rem;
    }

    .content-one {
        text-align: center;
        padding: 0.8rem 0;
        margin-bottom: 3rem;
    }

}